.collapsible-icon {
  display: none;
  position: absolute;
  right: -16px;
  top: calc(100% / 2 - 5px);
  margin-left: 9px;
  vertical-align: middle;
}
:has(> .collapsible-icon) {
  position: relative;
  overflow: visible;
}
.collapsible-expanded,
.collapsible-collapsed {
  .collapsible-icon {
    transition: transform 0.3s ease-in-out !important;
    display: initial;
    @media (prefers-reduced-motion: reduce) {
      transition: none !important;
    }
  }
}
.collapsible-collapsed .collapsible-icon {
  transform: rotate(-90deg);
}
.collapsible-head {
  display: block;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  text-align: left;
  cursor: pointer;
}
