.collapsible-icon {
  display: none;
  position: absolute;
  top: calc(100% / 2 - 6px);
  margin-left: 9px;
  vertical-align: middle;
}
:has(> .collapsible-icon) {
  position: relative;
}
.collapsible-expanded,
.collapsible-collapsed {
  .collapsible-icon {
    transition: transform 0.3s ease-in-out !important;
    display: initial;
  }
}
.collapsible-collapsed .collapsible-icon {
  transform: rotate(-90deg);
}
