:root {
  --navigation-fullscreen-button-width: 20px;
}
#navigation-fullscreen-button {
  width: var(--navigation-fullscreen-button-width);
  position: relative;
}
#navigation-wrapper:hover + #navigation-fullscreen-button > div > div,
#navigation-fullscreen-button:hover > div > div {
  left: 0px;
}
#navigation-fullscreen-button > div > div {
  transition: all 0.3s ease-in-out;
  left: -20px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #eee !important;
  background: url('./chevron.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

html:not(.navigation-fullscreen) #navigation-fullscreen-close {
  display: none;
}

html.navigation-fullscreen #page-content {
  /* Make `Ctrl-F` browser search only crawl the navigation menu */
  visibility: hidden;
}
