.DocSearch-Button-Keys {
  margin-left: 6px !important;
}
.DocSearch-Search-Icon {
  margin-right: 0 !important;
}
.DocSearch-Button-Placeholder {
  padding-right: 6px !important;
}

#docsearch-desktop {
  max-width: 110px !important;
}
#docsearch-desktop .DocSearch-Button-Placeholder,
#docsearch-desktop .DocSearch-Button-Keys {
  display: none;
}
#docsearch-desktop .DocSearch-Button {
  background: transparent !important;
  padding: 0 !important;
  position: relative;
  top: -1px;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
#docsearch-desktop .DocSearch-Search-Icon {
  height: 21px !important;
  width: 21px !important;
}
#docsearch-desktop .DocSearch-Button {
  margin-right: 3px !important;
  margin-left: 1px !important;
}

#docsearch-mobile {
  margin-left: auto !important;
  padding-right: 20px !important;
}

#docsearch-mobile .DocSearch-Button {
  margin-left: 0px !important;
}

@media screen and (max-width: 339px) {
  #docsearch-mobile {
    padding-right: 6px !important;
  }
}
