.DocSearch-Button-Keys {
  margin-left: 6px !important;
}
.DocSearch-Search-Icon {
  margin-right: 0 !important;
}
.DocSearch-Button-Placeholder {
  padding-right: 6px !important;
}

.DocSearch-Button-Placeholder,
.DocSearch-Button-Keys {
  display: none !important;
}
.DocSearch-Button {
  background: transparent !important;
  padding: 5px !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.DocSearch-Search-Icon {
  height: 21px !important;
  width: 21px !important;
}
.DocSearch-Button {
  margin: 0 !important;
}
