pre > code {
  padding: 16px 0px !important;
}
pre [data-line] {
  padding: 0px 16px !important;
}
pre {
  display: grid;
}
pre > code {
  padding-right: 0px !important;
  overflow-x: auto;
}

pre > code {
  display: reset;
  word-break: reset;
}

figure[data-rehype-pretty-code-figure] {
  margin: 0 !important;
}

/* 821px screen width => the width of code blocks isn't shrinked anymore => no need to reduce the font-size of code blocks */
@container container-viewport (max-width: 820px) {
  pre > code {
    font-size: 0.9em !important;
  }
}
@container container-viewport (max-width: 720px) {
  pre > code {
    font-size: 0.8em !important;
  }
}
/* `@media (pointer: fine)`
 *  - Further reduce code block font size only on mobile.
 *  - https://github.com/vikejs/vike/issues/2369#issuecomment-2803046966
 *  - https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices/64553121#64553121
 */
@media not all and (hover: hover) and (pointer: fine) {
  @container container-viewport (max-width: 620px) {
    pre > code {
      font-size: 0.7em !important;
    }
  }
  @container container-viewport (max-width: 550px) {
    pre > code {
      font-size: 0.6em !important;
    }
  }
  @container container-viewport (max-width: 450px) {
    pre > code {
      font-size: 0.5em !important;
    }
  }
}
