/* Attributes generted by https://shiki.style/packages/transformers#transformernotationdiff */
pre.has-diff .diff {
  position: relative;
}

pre.has-diff .diff.remove {
  background-color: #fbdcda;
}

pre.has-diff .diff.add {
  background-color: #d7ecdf;
}

pre.has-diff .diff::before {
  content: "+";
  position: absolute;
  font-weight: 500;
}

pre.has-diff .diff.add::before {
  content: "+";
  color: rgb(24, 121, 78);
  font-size: 1.2em;
  top: -2px;
  left: 3px;
}

pre.has-diff .diff.remove::before {
  content: "-";
  color: rgb(179, 78, 82);
  font-size: 1.4em;
  top: -5px;
  left: 2px;
}
