code {
  padding: 3px 6px;
}

/*
 * Line breaks in `<code>`:
 *  - Avoid them on desktop
 *  - Allow them on mobile
 *  - Allow them for `<code long>`
 */
@container(max-width: 500px) {
  code {
    word-break: break-word;
  }
}
.inline-code-break code {
  word-break: break-word;
}
code.long {
  word-break: break-word;
}
