blockquote {
  --color: 0, 0, 0;
  --color-strengh-bg: 0.7;
  --color-strengh-border: 1.5;
  border-left: 8px solid rgba(var(--color), calc(0.06 * var(--color-strengh-border)));
  background-color: rgba(var(--color), calc(0.03 * var(--color-strengh-bg)));
  margin-left: 0;
  margin-right: 0;
  padding: 4px 16px;
}
blockquote.error {
  --color-strengh-bg: 1.7;
  --color-strengh-border: 6;
  --color: 190, 25, 49;
}
blockquote.warning {
  --color-strengh-bg: 4;
  --color-strengh-border: 8;
  --color: 255, 204, 50;
}
.blockquote-content {
  display: inline;
}
blockquote.custom-icon > .blockquote-content > :first-child {
  /* E.g. for <Warning> so that the warning icon is on the same line as the first paragraph.
   * We assume the second element to have a top margin.
   */
  display: inline;
}
blockquote > p:first-child::before,
/* blockquote > p:first-of-type::before, */
blockquote > div.paragraph:first-child::before {
  font-family: emoji;
  content: 'ℹ️';
  margin-right: 4px;
}
