@import './code/inline.css';
@import './code/block.css';
@import './code/diff.css';

code {
  border-radius: 4px;
}
pre {
  background: none !important;
}

/* Inline */
code {
  background: rgba(0, 0, 0, 0.063137255);
  font-size: 1.1em;
}

/* Block */
pre > code {
  /*
  background-color: #f4f4f4;
  0.043137255 = 1 - (#f4 / #ff)
  */
  background: rgba(0, 0, 0, 0.043137255);
  font-size: 1em;
}
/* Workaround for shiki regression */
pre > code:not([data-language]) {
  padding: 16px !important;
}

/* Copy Button */
button.copy-button {
  display: inline-flex;
  align-items: center;
  position: absolute !important;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 25px;
  z-index: 3;
  border: 1px solid #ccc;
}
button.copy-button:hover {
  background-color: #dbdbdbff;
}
button.copy-button:focus {
  box-shadow: 0 0 0 2px #5b9bd54d;
  outline: none;
}
/* Shared styles for copy and check SVG icons */
svg.svg-icon {
  width: 100%;
  height: 100%;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* code-lang-select element */
select#code-lang-select {
  position: absolute;
  top: 10px;
  right: 42px;
  height: 25px;
  z-index: 3;
  padding-left: 5px;
  padding-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 1'><path d='M0 0l1 1 1-1z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px;
  cursor: pointer;
  transition: border 0.2s, box-shadow 0.2s;
  appearance: none; /* Remove default arrow in some browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
}
select#code-lang-select:focus {
  box-shadow: 0 0 0 2px #5b9bd54d;
  outline: none;
}
