@import './code/inline.css';
@import './code/block.css';
@import './code/diff.css';

code {
  border-radius: 4px;
}
pre {
  background: none !important;
}

/* Inline */
code {
  background: rgba(0, 0, 0, 0.063137255);
  font-size: 1.1em;
}

/* Block */
pre > code {
  /*
  background-color: #f4f4f4;
  0.043137255 = 1 - (#f4 / #ff)
  */
  background: rgba(0, 0, 0, 0.043137255);
  font-size: 1em;
}
/* Workaround for shiki regression */
pre > code:not([data-language]) {
  padding: 16px !important;
}

/* Copy Button */
button.copy-button {
  display: inline-flex;
  align-items: center;
  position: absolute !important;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 25px;
  z-index: 3;
  border: 1px solid #ccc;
}
button.copy-button:hover {
  background-color: #dbdbdbff;
}
button.copy-button:focus {
  box-shadow: 0 0 0 2px #5b9bd54d;
  outline: none;
}
