/* `@media (pointer: fine)`
 * - Don't show tooltip on mobile devices:
 * - https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices/64553121#64553121
 */
@media (hover: hover) and (pointer: fine) {
  .colorize-on-hover:hover [class^='decolorize-'],
  .colorize-on-hover:hover [class*=' decolorize-'] {
    filter: grayscale(0) opacity(1) !important;
  }
  .link-hover-animation a:hover {
    color: black !important;
    background-color: var(--active-color);
  }
}

.colorize-on-hover [class^='decolorize-'],
.colorize-on-hover [class*=' decolorize-'] {
  transition: filter 0.3s ease-in-out;
}

.decolorize-7 {
  filter: grayscale(1) opacity(0.7);
}
.decolorize-6 {
  filter: grayscale(1) opacity(0.6);
}
.decolorize-5 {
  filter: grayscale(1) opacity(0.5);
}
.decolorize-4 {
  filter: grayscale(1) opacity(0.4);
}

.link-hover-animation a {
  transition: all 0.3s ease-in-out !important;
  transition-property: color, background-color !important;
}
body {
  --active-color: rgba(0, 0, 0, 0.03);
}
