h1 { font-size: 2.30em }
h2 { font-size: 1.80em }
h3 { font-size: 1.25em }

.doc-page h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.doc-page h2,
.doc-page h3 {
  margin-bottom: 16px;
}
.doc-page h2 {
  margin-top: 100px;
}
.doc-page h2::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  top: -45px;
  /* Same as <HorizontalLine> */
  background-color: #eaeaea;
  --width: min(80%, 500px);
  width: var(--width);
  left: calc((100% - var(--width)) / 2);
}
.doc-page h3 {
  margin-top: 40px;
}

.doc-page h1 + h2,
.doc-page h1 + h3,
.doc-page h2 + h3 {
  margin-top: 0;
}
.doc-page h1 + h2:after,
.doc-page h1 + h3:after,
.doc-page h2 + h3:after {
  display: none !important;
}

.doc-page h4 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.doc-page h5 {
  font-size: 0.94em;
  color: #777;
  margin-bottom: 10px;
}

/***************/
/** Clickable **/
/***************/
.doc-page h2[id],
.doc-page h3[id] {
  cursor: pointer;
  position: relative;
  padding-left: 26px;
  margin-left: -26px;
}
/* `@media (pointer: fine)`
 * - Don't show tooltip on mobile devices:
 * - https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices/64553121#64553121
 */
@media (hover: hover) and (pointer: fine) {
  .doc-page h2[id]:hover::before,
  .doc-page h3[id]:hover::before {
    content: '#';
    position: absolute;
    left: calc(-1 * (0.75em - 26px));
    color: #aaa;
  }
}
