table th {
  background-color: var(--dp-color-surface, #f7f7f7);
}
table {
  border-collapse: collapse;
}
table td,
table th {
  padding: 8px;
  border: 1px solid var(--dp-color-border, #ccc);
}
table th {
  text-align: left;
}
