@media screen and (min-width: 840px) {
  .features-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .features-row summary:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1 / 2;
  }
  .features-row summary:nth-of-type(2) {
    grid-row: 1;
    grid-column: 2 / 3;
  }
  .features-row aside {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 840px) {
  .features-row.single-column .feature {
    grid-column: 1 / span 2 !important;
    width: 100% !important;
    max-width: calc(1010px / 2) !important;
    margin: auto !important;
  }
}

#features {
  margin: auto;
  margin-top: 0;
  max-width: 1080px;
}

#features summary p {
  margin: 10px 0;
}
#features h2 {
  margin-bottom: 0.7em;
  margin-top: 0.5em;
}
#features .secondary-feature h2 {
  font-size: 1.1em;
  margin-bottom: 0.7em;
}
.learn-more h3:first-of-type {
  margin-top: 15px;
}

.learn-more {
  border: var(--border-width) solid var(--border-color);
  padding: 10px 8px;
}
@media screen and (min-width: 840px) {
  .learn-more {
    max-width: 886px;
    border-radius: var(--border-radius);
  }
}
aside.learn-more:not(.right-side) {
  border-top-left-radius: 0;
}
aside.learn-more.right-side {
  border-top-right-radius: 0;
  justify-self: end;
  width: 100%;
}
@media screen and (max-width: 340px) {
  .learn-more {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.learn-more {
  display: none;
}
.learn-more.selected {
  display: block;
}
#features {
  --border-radius: 20px;
  --border-width: 10px;
  --border-color: #f6f6f6;
}
.feature {
  padding: 8px;
  border-width: var(--border-width);
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.selected {
  border-color: var(--border-color);
  background-color: #fcfcfc;
}
.feature.selected {
  border-bottom: 0 !important;
  z-index: 1;
}

/* Hide top border of .learn-more */
.learn-more {
  position: relative;
  top: calc(-1 * var(--border-width));
}
.feature {
  position: relative;
  z-index: 1;
}

.feature .chevron {
  transition:
    filter 0.3s ease-in-out,
    transform 0.3s ease-in-out !important;
}
.feature.selected .chevron {
  transform: rotate(180deg);
}
