.choice-group {
  position: relative;

  &:hover {
    .custom-select-wrapper,
    .copy-button {
      opacity: 1;
    }
  }

  /* layout */
  --select-width: 120px;
  --select-top-position: 10px;
  --select-right-base: 42px;
  --select-gap: 2px;

  .custom-select-wrapper {
    position: absolute;
    z-index: 3;
    width: var(--select-width);
    top: var(--select-top-position);
    right: calc(var(--select-right-base) + (var(--lvl) * (var(--select-width) + var(--select-gap))));
    box-sizing: border-box;
    user-select: none;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-color: hsl(0, 0%, 75%) hsl(0, 0%, 72%) hsl(0, 0%, 72%) hsl(0, 0%, 75%);

    opacity: 0;
    transition: opacity 0.5s ease-in-out, background-color 0.4s ease-in-out;

    &:hover {
      border-color: hsl(0, 0%, 72%) hsl(0, 0%, 66%) hsl(0, 0%, 66%) hsl(0, 0%, 72%);
    }

    &:active {
      border-color: hsl(0, 0%, 66%) hsl(0, 0%, 72%) hsl(0, 0%, 72%) hsl(0, 0%, 66%);
    }
  }

  .sliding-rectangle {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    transition: top 180ms cubic-bezier(0.2, 0.9, 0.2, 1);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  }

  .choice-label {
    line-height: 20px;
    padding: 0px 12px;
    user-select: none;
  }

  .hidden {
    display: none !important;
  }

  /* choice visibility logic */
  input:nth-last-of-type(1):not(:checked) ~ div.choice:nth-last-of-type(1),
  input:nth-last-of-type(2):not(:checked) ~ div.choice:nth-last-of-type(2),
  input:nth-last-of-type(3):not(:checked) ~ div.choice:nth-last-of-type(3),
  input:nth-last-of-type(4):not(:checked) ~ div.choice:nth-last-of-type(4),
  input:nth-last-of-type(5):not(:checked) ~ div.choice:nth-last-of-type(5),
  input:nth-last-of-type(6):not(:checked) ~ div.choice:nth-last-of-type(6),
  input:nth-last-of-type(7):not(:checked) ~ div.choice:nth-last-of-type(7) {
    display: none;
  }
}
