.choice-group {
  position: relative;

  &:hover {
    .select-choice,
    .copy-button {
      opacity: 1;
    }
  }

  /* layout */
  --select-width: 85px;
  --select-top-position: 10px;
  --select-right-base: 42px;
  --select-gap: 2px;

  /* each select increments the level */
  .select-choice {
    position: absolute;
    z-index: 3;
    height: 25px;
    top: var(--select-top-position);
    width: var(--select-width);
    right: calc(var(--select-right-base) + (var(--lvl) * (var(--select-width) + var(--select-gap))));

    opacity: 0;
    transition: opacity 0.5s ease-in-out, background-color 0.4s ease-in-out;
  }

  .hidden {
    display: none !important;
  }

  /* choice visibility logic */
  select:has(option:nth-of-type(1):not(:checked)) ~ .choice:nth-of-type(1),
  select:has(option:nth-of-type(2):not(:checked)) ~ .choice:nth-of-type(2),
  select:has(option:nth-of-type(3):not(:checked)) ~ .choice:nth-of-type(3),
  select:has(option:nth-of-type(4):not(:checked)) ~ .choice:nth-of-type(4),
  select:has(option:nth-of-type(5):not(:checked)) ~ .choice:nth-of-type(5),
  select:has(option:nth-of-type(6):not(:checked)) ~ .choice:nth-of-type(6),
  select:has(option:nth-of-type(7):not(:checked)) ~ .choice:nth-of-type(7) {
    display: none;
  }
}
