.choice-group {
  position: relative;

  &:hover {
    .select-choice,
    .copy-button {
      opacity: 1;
    }
  }

  /* layout */
  --select-width: 120px;
  --select-top-position: 10px;
  --select-right-base: 42px;
  --select-gap: 2px;

  .wrapper {
    position: absolute;
    z-index: 3;
    width: var(--select-width);
    top: var(--select-top-position);
    right: calc(var(--select-right-base) + (var(--lvl) * (var(--select-width) + var(--select-gap))));
    box-sizing: border-box;
    user-select: none;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-color: hsl(0, 0%, 75%) hsl(0, 0%, 72%) hsl(0, 0%, 72%) hsl(0, 0%, 75%);

    &:hover {
      border-color: hsl(0, 0%, 72%) hsl(0, 0%, 66%) hsl(0, 0%, 66%) hsl(0, 0%, 72%);
    }

    &:active {
      border-color: hsl(0, 0%, 66%) hsl(0, 0%, 72%) hsl(0, 0%, 72%) hsl(0, 0%, 66%);
    }
  }

  .sliding-rectangle {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    z-index: 5;
    transition: top 180ms cubic-bezier(0.2, 0.9, 0.2, 1);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  }

  .choice-label {
    display: block;
    line-height: 20px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
  }

  .choice-radio-input {
    display: none;
  }

  /* each select increments the level */
  .select-choice {
    position: absolute;
    z-index: 3;
    height: 25px;
    top: var(--select-top-position);
    width: var(--select-width);
    right: calc(var(--select-right-base) + (var(--lvl) * (var(--select-width) + var(--select-gap))));

    opacity: 0;
    transition: opacity 0.5s ease-in-out, background-color 0.4s ease-in-out;
  }

  .hidden {
    display: none !important;
  }

  /* choice visibility logic */
  select:has(option:nth-of-type(1):not(:checked)) ~ .choice:nth-of-type(1),
  select:has(option:nth-of-type(2):not(:checked)) ~ .choice:nth-of-type(2),
  select:has(option:nth-of-type(3):not(:checked)) ~ .choice:nth-of-type(3),
  select:has(option:nth-of-type(4):not(:checked)) ~ .choice:nth-of-type(4),
  select:has(option:nth-of-type(5):not(:checked)) ~ .choice:nth-of-type(5),
  select:has(option:nth-of-type(6):not(:checked)) ~ .choice:nth-of-type(6),
  select:has(option:nth-of-type(7):not(:checked)) ~ .choice:nth-of-type(7) {
    display: none;
  }
}
