.code-group {
  position: relative;

  &:hover {

    .select-choice,
    .copy-button,
    .code-lang-toggle {
      opacity: 1;
    }
  }

  --select-width: 100px;
  --select-top-position: 10px;
  --select-right-position: 42px;
  --has-toggle: calc(var(--select-right-position) + 61px);

  .select-choice {
    position: absolute;
    z-index: 3;
    height: 25px;
    top: var(--select-top-position);
    right: var(--select-right-position);
    width: var(--select-width);

    opacity: 0;
    transition: opacity 0.5s ease-in-out, background-color 0.4s ease-in-out;

    &.has-toggle {
      --select-right-position: var(--has-toggle);
    }

    &:has(+ .code-choice .code-group) {
      right: calc(var(--select-width) + var(--select-right-position) + 2px);
    }
  }

  select:has(option:nth-of-type(1):not(:checked))~.code-choice:nth-of-type(1),
  select:has(option:nth-of-type(2):not(:checked))~.code-choice:nth-of-type(2),
  select:has(option:nth-of-type(3):not(:checked))~.code-choice:nth-of-type(3),
  select:has(option:nth-of-type(4):not(:checked))~.code-choice:nth-of-type(4),
  select:has(option:nth-of-type(5):not(:checked))~.code-choice:nth-of-type(5) {
    display: none;
  }
}