.code-snippets {
  position: relative;

  &:hover {
    .copy-button,
    .code-lang-toggle {
      opacity: 1;
    }
  }

  /* Language toggle styles */
  .code-lang-toggle {
    position: absolute !important;
    top: 10px;
    right: 42px;
    z-index: 3;

    /* Checkbox appearance reset */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    margin: 0;
    padding: 0 4px;
    height: 25px;
    width: 59px;
    display: flex;
    background-color: #f7f7f7;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, background-color 0.4s ease-in-out;

    &:not(:hover) {
      background-color: #eee;
    }

    /* Toggle Labels */
    &::before,
    &::after {
      font-family: 'Inter', sans-serif;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::before {
      content: 'JS';
    }

    &::after {
      content: 'TS';
      border-left: none;
      opacity: 0.3;
    }

    &:checked {
      &::before {
        opacity: 0.3;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  /* Code block visibility based on toggle */
  &:has(.code-lang-toggle:checked) figure:first-of-type {
    display: none;
  }

  &:has(.code-lang-toggle:not(:checked)) figure:last-of-type {
    display: none;
  }
}
