#navigation-wrapper:hover {
  --expend-button-width: 20px;
}
#navigation-wrapper {
  --expend-button-width: 0;
  --expend-button-height: 80px;
}
#navigation-container > #expend-button-wrapper {
  position: absolute;
  /*
  right: calc(var(--expend-button-width) / 2);
  */
  right: 0;
}
html.expend-menu #expend-button-wrapper {
  right: calc(var(--expend-button-width) + 10px) !important;
}
#navigation-container > #expend-button-wrapper > #expend-button {
  /*
  position: fixed;
  */
  top: calc(50% - var(--expend-button-height) / 2);
  transition: all 0.3s ease-in-out;
  /*
  width: var(--expend-button-width);
  */
  width: 20px;
  background-color: #eee !important;
  background: url('./chevron.svg');
  background-repeat: no-repeat;
  /*
  background-position: -8px center;
  */
  background-position: center center;
  height: var(--expend-button-height);
  /*
  */
  top: 0;
  height: 100vh;
  cursor: pointer;
}
#navigation-container:hover #expend-menu {
  background-position: calc(-1 * var(--expend-button-width) - 8px) center !important;
}
/*
html.expend-menu #expend-button {
  transform: scaleX(-1);
}
*/


#navigation-expend-button {
  width: 20px;
  position: relative;
}

#navigation-expend-button > div {
  position: fixed;
  cursor: pointer;
  height: 100vh;
  width: 20px;
  overflow: hidden;
}
#navigation-wrapper:hover + #navigation-expend-button > div > div,
#navigation-expend-button:hover > div > div {
  left: 0px;
}
#navigation-expend-button > div > div {
  transition: all 0.3s ease-in-out;
  left: -20px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #eee !important;
  background: url('./chevron.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
