#navigation-wrapper {
  position: relative;
}
#navigation-container {
  /*
  transform: translateZ(0);
  */
}

/*
#navigation-wrapper > #expend-button {
*/
#expend-button-wrapper {
  position: absolute;
  right: 40px;
}
#expend-button {
  position: fixed;
  top: calc(50% - 50px);
  width: 40px;
  background-color: red;
  height: 100px;
  z-index: 99999;
}
