body {
  container-type: inline-size;
}

#navigation-content {
  margin-top: 20px;
}

@media screen and (max-width: 1139px) {
  #navigation-wrapper {
    display: none;
  }
}

#menu-modal-content {
  display: flex;
  justify-content: center;
}
#menu-modal-content #navigation-content {
  flex-grow: 1;
  margin-top: -25px;
  column-gap: 20px;
}
#menu-modal-content .nav-items-group {
  break-inside: avoid;
  width: 100%;
}
