:root {
  --mobile-header-height: 60px;
  --navigation-min-height: 300px;
  --navigation-max-height: 350px;
}
#navigation-wrapper {
  min-width: var(--navigation-min-height);
}
.doc-page #navigation-wrapper {
  max-width: var(--navigation-max-height);
}
.landing-page #navigation-wrapper {
  /* prettier-ignore */
  max-width: min(var(--navigation-max-height), max(var(--navigation-min-height), calc(var(--navigation-min-height) + 100vw - 1240px)));
}
#navigation-container {
  /* `position: fixed` doesn't inherit the parent's width */
  position: sticky;
  overflow-y: auto;
  overscroll-behavior: contain;
  border-right: 1px solid #eee;
}
#navigation-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}
/* `1140px` is the breaking point that preserves the width of code blocks. */
/* BEFORE EDITING THIS: also change the `1139px` value below */
@media screen and (min-width: 1140px) {
  #mobile-header {
    display: none !important;
  }
  #navigation-container {
    height: 100vh;
    top: 0;
  }
  #navigation-mask {
    display: none;
  }
}
#navigation-container {
  transition: transform 0.25s ease;
  background: white;
  z-index: 3;
}
#page-wrapper {
  margin-left: calc(-1 * var(--navigation-fullscreen-button-width));
}
@media screen and (max-width: 1139px) {
  #navigation-header-logo,
  #docsearch {
    display: none !important;
  }
  #navigation-wrapper {
    min-width: 0px !important;
    max-width: 0px !important;
  }
  #navigation-fullscreen-button {
    display: none;
  }
  #page-wrapper {
    margin-left: 0 !important;
  }
  #navigation-container {
    --width: min(100vw, 350px);
    width: var(--width);
    left: 0;
    height: calc(100vh - var(--mobile-header-height));
    top: var(--mobile-header-height);
    padding-top: 20px;
    /* `position: sticky` doesn't seem to work on mobile */
    position: fixed;
  }
  body:not(.show-menu) #navigation-container {
    transform: translateX(calc(-1 * var(--width)));
  }
  body:not(.show-menu) #navigation-mask {
    display: none;
  }
  #mobile-header {
    display: inherit;
  }
  .doc-page h2 {
    --padding-top: calc(var(--mobile-header-height) + 12px) !important;
  }
}

html.navigation-fullscreen #navigation-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}
html.navigation-fullscreen #navigation-header {
  display: none !important;
}
html.navigation-fullscreen #navigation-content {
  display: flex;
  margin: auto; /* A `max-width` is set by src/navigation/navigation-fullscreen/initNavigationFullscreen.ts */
}
html.navigation-fullscreen #navigation-content > .nav-column {
  flex-grow: 1;
  max-width: 350px;
}
html.navigation-fullscreen .nav-column > .nav-h1-group:first-child > .nav-item-h1:first-child {
  margin-top: 0px;
}
html.navigation-fullscreen {
  /* disable scroll of main view */
  overflow: hidden !important;
}
