/* 1190 = 350 + 800 + 20 * 2 */
@media screen and (min-width: 1190px) {
  .page-wrapper {
    flex-grow: 1;
  }
}
@media screen and (max-width: 1139px) {
  .page-content {
    --main-view-padding: 10px !important;
  }
  #top-navigation {
    display: none !important;
  }
}
