body:not(.menu-modal-show) #menu-modal {
  display: none;
}
body.menu-modal-show {
  /* disable scroll of main view */
  overflow: hidden !important;
}

#menu-modal-content {
  display: flex;
  justify-content: center;
}
#menu-modal-content #navigation-content {
  flex-grow: 1;
  margin-top: -25px !important;
  column-gap: 20px;
}
#menu-modal-content .nav-items-group {
  break-inside: avoid;
  width: 100%;
}
